.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 125px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

.leftLayout{float:left;width:30%}

.rightLayout{float:Right;width:50%}

.mainForm {
  border: solid;
  width: 90%;
  align: center;
  padding: 10px;
  margin: 2% auto 2% auto;
  border-radius: 5px;
}


.propertyForm {
  border: solid;
  width: 90%;
  align: center;
  padding: 10px;
  margin: 1% auto 1% auto;
  border-radius: 5px;
}

input, label {
  display: block;
  text-align: left;
}
input {
  width: 90%;
  margin-bottom: 25px;
}
label {
  font-size: 10px;
}
button {
  border-radius: 5px;
  padding-left: 2%;
  padding-right: 2%
}


table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

.cellNumeric {
  text-align: right;
}
.cellText {
  text-align: left;
}

thead {
  font-weight: bold;
}

.selected {
  color: gray;
}
.unSelected {
  color: black;
}
.selected:hover {
  background-color: antiquewhite;
}
.unSelected:hover {
  background-color: white
}